{{ define "main" }}

<!-- feature -->
{{ with .Params.members }}
{{ if .enable }}
<section class="section">
    <div class="container">
            <div class="row justify-content-center">
                <h2 class="section-title">{{ .title | markdownify }}</h2>
            </div>
            
            <div class="row justify-content-center">
                {{ range .member_item }}
                <div class="col-lg-6 col-sm-12 ">
                    <div class="text-center">
                        <img style="width: 50%" src="{{ .photo }}" class="rounded-circle">
                      </div> 
                    <h5 class="text-center">{{.name | markdownify }}</h5>
                    <p class="text-center">{{.bio | markdownify }}</p>
                </div>
            {{ end }}

            </div>
        <div>
            <p class="view-all text-right">
                <a href="https://biaslab.github.io/team/" style="color:black;">
                    Full team
                    <i class="fa fa-angle-right"></i>
                </a>
            </p>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->
<!-- {{ .Content }} -->
{{ end }}