<script src="https://cdnjs.cloudflare.com/ajax/libs/antv-g6/4.5.5/g6.min.js" integrity="sha512-AyQR/rps/XEPhyRHlLBss+9fho4OXKFH7G+Mb5wxPX7i4FMwBQjDMZyCcoqcXx0SpTviP1QGPVlpYErbs8/RWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
.landing-graph-container {
    width: 100%;
    min-height: 400px;
    position: relative;
    left: 0%;
}

.landing-graph {
    width: 100%;
    top: -25%;
    height: 150%;
    left: 0px;
    position:absolute;
}
</style>

<div class="landing-graph-container">
    <div id="landing-graph" class="landing-graph"></div>
</div>

<script>
((function() {

    function registerGaussianNode() {
        var fillColor   = '#edf6f5';
        var strokeColor = '#0aa8a7';
        var size = 50;
        // Here we register a Gaussian node
        G6.registerNode(
            'gaussian-node',
            {
                drawShape: (cfg, group) => {
                    var shape       = group.addShape('rect', {
                        attrs:     {
                            x:             -size / 2,
                            y:             -size / 2,
                            width:         size,
                            height:        size,
                            fill:          fillColor,
                            stroke:        strokeColor,
                            radius:        2,
                            cursor:        'pointer',
                            opacity:       1.0,
                            shadowColor:   '#c2c2c2',
                        },
                        
                        name:      'gnode-box',
                        draggable: true
                    });

                    group.addShape('text', {
                        attrs: {
                            y:            0,
                            x:            0,
                            textAlign:    'center',
                            textBaseline: 'middle',
                            lineHeight:   10,
                            text:         "N",
                            fill:         strokeColor,
                            fontSize:     size / 2.5,
                            fontWeight:   'bold'
                        },
                        name:  'gnode-type-text'
                    });

                    return shape
                },
                // Override setState
                setState(name, value, item) {
                    var shape = item.get('keyShape');
                    var shadowOffset = 10;
                    var shadowBlur = 50;
                    // Response the running state
                    if (name === 'hover') {
                        // When the running state is turned to be true
                        if (value) {
                            shape.stopAnimate();
                            shape.animate((ratio) => { 
                                var newsize =  size + (size / 10) * ratio;
                                return { 
                                    height: newsize, 
                                    width: newsize,
                                    x: -newsize / 2,
                                    y: -newsize / 2,
                                    shadowOffsetX: shadowOffset * ratio,
                                    shadowOffsetY: shadowOffset * ratio,
                                    shadowBlur:    shadowBlur * ratio,
                                }
                            }, { repeat: false, duration: 300, easing: 'easeCubic' });
                        } else {
                            shape.stopAnimate();
                            shape.animate((ratio) => { 
                                var newsize =  size + (size / 10) * (1 - ratio);
                                return { 
                                    height: newsize, 
                                    width: newsize,
                                    x: -newsize / 2,
                                    y: -newsize / 2,
                                    shadowOffsetX: shadowOffset * (1 - ratio),
                                    shadowOffsetY: shadowOffset * (1 - ratio),
                                    shadowBlur:    shadowBlur * (1 - ratio),
                                }
                            }, { repeat: false, duration: 300, easing: 'easeCubic' });
                        }
                    }
                },
                getAnchorPoints(cfg) {
                    return [
                        [ 0.5, 0.5 ],
                        [ 0.0, 0.5 ],
                        [ 0.5, 1.0 ],
                        [ 1.0, 0.5 ],
                        [ 0.5, 0.0 ]
                    ]
                },
            },
            
            'rect',
        );
    }

    function registerEqualityNode() {
        var fillColor   = '#edf6f5';
        var size        = 25;
        var strokeColor = '#0aa8a7';
        G6.registerNode(
            'equality-node',
            {
                drawShape: (cfg, group) => {
                    
                    var shape       = group.addShape('rect', {
                        attrs:     {
                            x:             -size / 2,
                            y:             -size / 2,
                            width:         size,
                            height:        size,
                            fill:          fillColor,
                            stroke:        strokeColor,
                            radius:        3,
                            cursor:        'pointer',
                            opacity:       1.0
                        },
                        name:      'gnode-box',
                        draggable: true
                    });

                    group.addShape('text', {
                        attrs: {
                            y:            0,
                            x:            0,
                            textAlign:    'center',
                            textBaseline: 'middle',
                            lineHeight:   10,
                            text:         "=",
                            fill:         strokeColor,
                            fontSize:     size / 2.5,
                            fontWeight:   'bold'
                        },
                        name:  'gnode-type-text'
                    });

                    return shape
                },
                // Override setState
                setState(name, value, item) {
                    const shape = item.get('keyShape');
                    // Response the running state
                    if (name === 'hover') {
                        // When the running state is turned to be true
                        if (value) {
                            shape.stopAnimate();
                            shape.animate((ratio) => { 
                                var newsize =  size + (size / 10) * ratio;
                                return { 
                                    height: newsize, 
                                    width: newsize,
                                    x: -newsize / 2,
                                    y: -newsize / 2,
                                }
                            }, { repeat: false, duration: 300, easing: 'easeCubic' });
                        } else {
                            shape.stopAnimate();
                            shape.animate((ratio) => { 
                                var newsize =  size + (size / 10) * (1 - ratio);
                                return { 
                                    height: newsize, 
                                    width: newsize,
                                    x: -newsize / 2,
                                    y: -newsize / 2,
                                }
                            }, { repeat: false, duration: 300, easing: 'easeCubic' });
                        }
                    }
                },
                getAnchorPoints(cfg) {
                    return [
                        [ 0.5, 0.5 ],
                        [ 0.0, 0.5 ],
                        [ 0.5, 1.0 ],
                        [ 1.0, 0.5 ],
                        [ 0.5, 0.0 ]
                    ]
                },
            },
            'rect',
        );
    }

    function registerFactorEdge() {
        var animationCircleFillColor   = '#edf6f5';
        var animationCircleStrokeColor = '#0aa8a7';
        G6.registerEdge(
            'factor-edge',
            {
                afterDraw(cfg, group) {
                    // Get the first graphics shape of this type of edge, which is the edge's path
                    const shape = group.get('children')[0];
                    // The start point of the edge's path
                    const startPoint = shape.getPoint(0);

                    // Add a red circle shape
                    const circle = group.addShape('circle', {
                        attrs: {
                            x: startPoint.x,
                            y: startPoint.y,
                            fill: animationCircleFillColor,
                            stroke: animationCircleStrokeColor,
                            r: 3,
                        },
                        // must be assigned in G6 3.3 and later versions. it can be any value you want
                        name: 'circle-shape',
                    });

                    // Add the animation to the red circle
                    circle.animate(
                        (ratio) => {
                            // Returns the properties for each frame. The input parameter ratio is a number that range from 0 to 1. The return value is an object that defines the properties for this frame
                            // Get the position on the edge according to the ratio
                            const tmpPoint = shape.getPoint(ratio);
                            // Return the properties of this frame, x and y for this demo
                            return {
                                x: tmpPoint.x,
                                y: tmpPoint.y,
                                opacity: Math.sin(ratio * Math.PI),
                                r: Math.sin(ratio * Math.PI) * 3
                            };
                        },
                        {
                            repeat: true, // Play the animation repeatly
                            duration: (1000 + 1000 * Math.random()), // The duration for one animation
                        },
                    );
                },
            },
            'line',
        ); // Extend the built-in edge cubic
    }
    

    

    const data = {
        nodes: [
            { id: 'z-e00', x: -1000, y: 100, type: 'equality-node' },
            { id: 'z-e01', x: 1400, y: 100, type: 'equality-node' },

            { id: 'z-g0', x: -200, y: 100, type: 'gaussian-node' },
            { id: 'z-g1', x: 0, y: 100, type: 'gaussian-node' },
            { id: 'z-g2', x: 200, y: 100, type: 'gaussian-node' },
            { id: 'z-g3', x: 400, y: 100, type: 'gaussian-node' },
            { id: 'z-g4', x: 600, y: 100, type: 'gaussian-node' },

            { id: 'z-e0', x: -100, y: 100, type: 'equality-node' },
            { id: 'z-e1', x: 100, y: 100, type: 'equality-node' },
            { id: 'z-e2', x: 300, y: 100, type: 'equality-node' },
            { id: 'z-e3', x: 500, y: 100, type: 'equality-node' },

            { id: 'x-g1', x: 100, y: 200, type: 'gaussian-node' },
            { id: 'x-g2', x: 300, y: 200, type: 'gaussian-node' },
            { id: 'x-e1', x: 200, y: 200, type: 'equality-node' },

        ],
        edges: [
            { source: 'z-e00', target: 'z-g0', type: 'factor-edge' },
            { source: 'z-g4', target: 'z-e01', type: 'factor-edge' },

            { source: 'z-g0', target: 'z-e0', type: 'factor-edge' },
            { source: 'z-e0', target: 'z-g1', type: 'factor-edge' },
            { source: 'z-g1', target: 'z-e1', type: 'factor-edge' },
            { source: 'z-e1', target: 'z-g2', type: 'factor-edge' },
            { source: 'z-g2', target: 'z-e2', type: 'factor-edge' },
            { source: 'z-e2', target: 'z-g3', type: 'factor-edge' },
            { source: 'z-g3', target: 'z-e3', type: 'factor-edge' },
            { source: 'z-e3', target: 'z-g4', type: 'factor-edge' },
            
            { source: 'x-g1', target: 'x-e1', type: 'factor-edge' },
            { source: 'x-e1', target: 'x-g2', type: 'factor-edge' },

            { source: 'z-e1', target: 'x-g1', type: 'factor-edge' },
            { source: 'z-e2', target: 'x-g2', type: 'factor-edge' },
        ],
    };

    // Register custom nodes
    registerGaussianNode();
    registerEqualityNode();
    registerFactorEdge();

    const graph = new G6.Graph({ 
        container: 'landing-graph', 
        fitCenter: true,
        animate: true,
        animateCfg: {
            duration: 500, // Number, the duration of one animation
            easing: 'linearEasing', // String, the easing function
        },
        modes: {
            default: ['drag-node'],
        },
    });

    window.addEventListener('resize', () => {
        // graph.fitView([ 20, 40, 50, 20 ]);
        graph.changeSize(window.innerWidth, 400)
        graph.fitCenter();
        graph.zoom(1.5, { x: window.innerWidth / 2, y: 300 }, true, {
            duration: 2000, easing: 'easeCubic', // String, the easing function
        });
    })

    // Mouse enters a node
    graph.on('node:mouseenter', (e) => {
        const nodeItem = e.item; // Get the target item
        graph.setItemState(nodeItem, 'hover', true); // Set the state 'hover' of the item to be true
    });

    // Mouse leaves a node
    graph.on('node:mouseleave', (e) => {
        const nodeItem = e.item; // Get the target item
        graph.setItemState(nodeItem, 'hover', false); // Set the state 'hover' of the item to be true
    });

    graph.data(data);
    graph.render();

    window.setTimeout(() => {
        graph.zoom(1.5, { x: window.innerWidth / 2, y: 300 }, true, {
            duration: 2000, easing: 'easeCubic', // String, the easing function
        });
    }, 100)
})())

</script>