{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
        {{ with .Params.Contacts }}
            {{ range .social_item }}
            <a href="{{ .url }}" class="col-md-4 col-sm-6 mb-4">
                <div class="ecosystem-card" style="display: flex; flex-direction: column;">
                  <div class="row" style="margin-top: 5px;">
                    <div class="col-md-12 col-sm-12">
                      <span>{{ .content | markdownify }}</span>              
                    </div>
                  </div>
                  <div class="row" style="margin-top: auto;">
                    <div class="col-md-12 col-sm-12">
                      <button class="btn btn-outline-primary" style="width: 100%; font-size: large;"><i class="{{.logo}}"></i>&nbsp;&nbsp;&nbsp;{{ .name | title }}</button>
                    </div>
                  </div>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </a>
            {{end}}
        {{end}}
    </div>
    {{ if .Params.emailform.enable }}
    <div class="row" style="padding-top: 50px">
        <div class="col-lg-5 content">
            {{ .Content }}
          </div>
      <div class="col-12">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="GET">
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="{{ i18n `yourname` }}">
          <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="{{ i18n `youremail` }}">
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="{{ i18n `subject` }}">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="{{ i18n `yourmessage` }}"></textarea>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n `sendnow` }}</button>
        </form>
      </div>
    </div>
    {{end}}
  </div>
</section>

{{ end }}